In [1]:
import pandas
import numpy

In [2]:
# Gather data from CSVs exported from data scraping/cleaning notebook
MLBData = pandas.read_csv('MLBPlayerInfo.csv')
SoccerData = pandas.read_csv('SoccerPlayerInfo.csv')

In [3]:
MLBData.head(5)

,Unnamed: 0,Team,Name,Age,Bats,Throws,Height,Weight,Years in League,Games Played,WAR,Salary,BMI,Position
0,0,ARI,Nick Ahmed,29,R,R,74,195,6,158,4.3,"$3,663,000",25.033784,SS
1,1,ARI,Abraham Almonte,30,B,R,69,210,7,17,0.6,NaN,31.008192,RF
2,2,ARI,Matt Andriese,29,R,R,74,225,5,54,-0.1,"$920,000",28.885135,P
3,3,ARI,Alex Avila,32,L,R,71,210,11,63,1.4,"$4,250,000",29.285856,C
4,4,ARI,Archie Bradley,26,R,R,76,225,5,66,0.9,"$1,830,000",27.384868,P

In [4]:
SoccerData.head(5)

,Unnamed: 0,League,Team,Name,Position,Age,Height,Weight,BMI
0,0,EPL,Arsenal,Bernd Leno,Goalkeeper,28,75,183,22.870933
1,1,EPL,Arsenal,Emiliano Martínez,Goalkeeper,27,77,194,23.002530
2,2,EPL,Arsenal,Héctor Bellerín,Defender,25,70,163,23.385510
3,3,EPL,Arsenal,Calum Chambers,Defender,25,72,146,19.798997
4,4,EPL,Arsenal,Rob Holding,Defender,24,72,165,22.375579