In [1]:
import pandas
import numpy
import re
import sys
!{sys.executable} -m pip install bs4
!{sys.executable} -m pip install lxml
from bs4 import BeautifulSoup

Requirement already satisfied: bs4 in /opt/anaconda3/lib/python3.7/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /opt/anaconda3/lib/python3.7/site-packages (from bs4) (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in /opt/anaconda3/lib/python3.7/site-packages (from beautifulsoup4->bs4) (1.9.3)
Requirement already satisfied: lxml in /opt/anaconda3/lib/python3.7/site-packages (4.4.1)

In [2]:
# Estabolish data collection lists
file_teams = ['ARI', 'ATL', 'BAL', 'BOS', 'CHC', 'CHW', 'CIN', 'CLE', 'COL', 'DET', 'HOU', 'KCR', 'LAA', 'LAD', 'MIA', 'MIL', 'MIN', 'NYM', 'NYY', 'OAK', 'PHI', 'PIT', 'SDP', 'SEA', 'SFG', 'STL', 'TBR', 'TEX', 'TOR', 'WAS']
mlb_teams = []
mlb_names = []
mlb_ages = []
mlb_bats = []
mlb_throws = []
mlb_heights = []
mlb_weights = []
mlb_years = []
mlb_games = []
mlb_p_games = []
mlb_c_games = []
mlb_1b_games = []
mlb_2b_games = []
mlb_3b_games = []
mlb_ss_games = []
mlb_lf_games = []
mlb_cf_games = []
mlb_rf_games = []
mlb_war = []
mlb_sal = []

In [3]:
# Loop through each team's html file
for i in file_teams:
    file = '19_' + i + '.html'
    
    # Soupify html files and navigate data rows 
    with open(file) as file_reader:
        soup = BeautifulSoup(file_reader, "lxml")
        table = soup.find(lambda tag: tag.name=='table' and tag.has_attr('id') and tag['id']=="appearances")
        table_body = table.find('tbody')
        rows = table_body.find_all('tr')
        
        # Loop through each row (player) and gather data points
        for row in rows:
            name = row.find('a').get_text()
            age = row.find('td', attrs={"data-stat" : "age" }).get_text()
            bat = row.find('td', attrs={"data-stat" : "bats" }).get_text()
            throw = row.find('td', attrs={"data-stat" : "throws" }).get_text()
            height = row.find('td', attrs={"data-stat" : "height" }).get_text()
            weight = row.find('td', attrs={"data-stat" : "weight" }).get_text()
            years = row.find('td', attrs={"data-stat" : "experience" }).get_text()
            games = row.find('td', attrs={"data-stat" : "G_all" }).get_text()
            P_games = row.find('td', attrs={"data-stat" : "G_p_app" }).get_text()
            C_games = row.find('td', attrs={"data-stat" : "G_c" }).get_text()
            FB_games = row.find('td', attrs={"data-stat" : "G_1b" }).get_text()
            SB_games = row.find('td', attrs={"data-stat" : "G_2b" }).get_text()
            TB_games = row.find('td', attrs={"data-stat" : "G_3b" }).get_text()
            SS_games = row.find('td', attrs={"data-stat" : "G_ss" }).get_text()
            LF_games = row.find('td', attrs={"data-stat" : "G_lf_app" }).get_text()
            CF_games = row.find('td', attrs={"data-stat" : "G_cf_app" }).get_text()
            RF_games = row.find('td', attrs={"data-stat" : "G_rf_app" }).get_text()
            war = row.find('td', attrs={"data-stat" : "WAR" }).get_text()
            sal = row.find('td', attrs={"data-stat" : "Salary" }).get_text()
            
            # Add data points to corresponding data lists
            mlb_teams.append(i)
            mlb_names.append(name)
            mlb_ages.append(age)
            mlb_bats.append(bat)
            mlb_throws.append(throw)
            mlb_heights.append(height)
            mlb_weights.append(weight)
            mlb_years.append(years)
            mlb_games.append(games)
            mlb_p_games.append(P_games)
            mlb_c_games.append(C_games)
            mlb_1b_games.append(FB_games)
            mlb_2b_games.append(SB_games)
            mlb_3b_games.append(TB_games)
            mlb_ss_games.append(SS_games)
            mlb_lf_games.append(LF_games)
            mlb_cf_games.append(CF_games)
            mlb_rf_games.append(RF_games)
            mlb_war.append(war)
            mlb_sal.append(sal)

In [4]:
# Generate dataframe MLBPlayerInfo with data lists and column labels
MLBPlayerInfo = pandas.DataFrame({ 'Team' : mlb_teams,
                                 'Name' : mlb_names,
                                 'Age' : mlb_ages,
                                 'Bats' : mlb_bats,
                                 'Throws' : mlb_throws,
                                 'Height' : mlb_heights,
                                 'Weight' : mlb_weights,
                                 'Years in League' : mlb_years,
                                 'Games Played' : mlb_games,
                                 'Games as P' : mlb_p_games,
                                 'Games as C' : mlb_c_games,
                                 'Games as 1B' : mlb_1b_games,
                                 'Games as 2B' : mlb_2b_games,
                                 'Games as 3B' : mlb_3b_games,
                                 'Games as SS' : mlb_ss_games,
                                 'Games as LF' : mlb_lf_games,
                                 'Games as CF' : mlb_cf_games,
                                 'Games as RF' : mlb_rf_games,
                                 'WAR' : mlb_war,
                                 'Salary' : mlb_sal})

In [5]:
MLBPlayerInfo

,Team,Name,Age,Bats,Throws,Height,Weight,Years in League,Games Played,Games as P,Games as C,Games as 1B,Games as 2B,Games as 3B,Games as SS,Games as LF,Games as CF,Games as RF,WAR,Salary
0,ARI,Nick Ahmed,29,R,R,"6' 2""",195,6,158,0,0,0,0,0,158,0,0,0,4.3,"$3,663,000"
1,ARI,Abraham Almonte,30,B,R,"5' 9""",210,7,17,0,0,0,0,0,0,0,3,9,0.6,
2,ARI,Matt Andriese,29,R,R,"6' 2""",225,5,54,54,0,0,0,0,0,0,0,0,-0.1,"$920,000"
3,ARI,Alex Avila,32,L,R,"5' 11""",210,11,63,2,54,0,0,0,0,0,0,0,1.4,"$4,250,000"
4,ARI,Archie Bradley,26,R,R,"6' 4""",225,5,66,66,0,0,0,0,0,0,0,0,0.9,"$1,830,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1562,WAS,Trea Turner,26,R,R,"6' 2""",185,5,122,0,0,0,0,0,122,0,0,0,3.3,"$3,725,000"
1563,WAS,Jonny Venters,34,L,L,"6' 3""",200,5,3,3,0,0,0,0,0,0,0,0,-0.2,
1564,WAS,Austin Voth,27,R,R,"6' 2""",201,2,9,9,0,0,0,0,0,0,0,0,1.2,
1565,WAS,Austen Williams,26,R,R,"6' 3""",220,2,2,2,0,0,0,0,0,0,0,0,-0.3,
1566,WAS,Ryan Zimmerman,34,R,R,"6' 3""",215,15,52,0,0,44,0,0,0,0,0,0,0.2,"$18,000,000"